*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    text-decoration: none;
    width: 1024px;
}

.bottom-standardspace{margin-bottom: 15px;}

header{
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
    background-size: 30%;

    width: 100%;
    height: 120px;
    position: relative;
}

header img{
    height: 70px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

/* Sezione - Titolo e intestazione articolo */
.head-article h1{
    font-size: 30pt;
    font-weight: bold;
}

.head-article h5, .head-article h6{
    color: lightslategrey;
}
.head-article h5{
    font-size: 14pt;
}
.head-article h5 a{
    color: #20A9E5;
    text-decoration: none;
}
.head-article h6{
    font-size: 10pt;
}

/* Corpo articolo */
.highlight{
    background-color: yellow;
}

.body-article{
    font-size: 14pt;
}
.body-article ul{
    padding-inline-start: 15px;
}